body{
    background-color: #eeeeeee3;
}
h1{
    font-size: 40px;
}
.container{
    text-align: center;
}
button{
    justify-content: center;
    color: #eee;
    width: 200px;
    font-size: 20px;
    display: flex;
    border-radius: 10px;
    border: 45px;
    padding: 30px;
    background-color: rgb(29, 81, 192);
}
.buttons{
    display:flex;
    justify-content: space-around;
}